.App {
  /* background-color: #231D4A; */

  color: white;
}

.level_border {
  border: solid 30px;
  border-image: url(./assets/levels_border.svg) 30;
}
.char_border {
  border: solid 20px;
  border-image: url(./assets/char_border.svg) 35;
}

.partner_border {
  border: solid 15px;
  padding: 8px;
  border-image: url(./assets/partner.svg) 35;
  /* border-radius: 0 20px 0 20px; */
}

.border {
  background: 
    linear-gradient(#ccc 0 0) padding-box, /*this is your grey background*/
    linear-gradient(to right, #9c20aa, #fb3570) border-box;
  color: #313149;
  padding: 10px;
  border: 5px solid transparent;
  border-radius: 15px;
  display: inline-block;
  margin: 75px 0;
}

.gradient {
  background: linear-gradient(180deg, rgba(57, 120, 252, 0.63) 0%, rgba(48, 68, 150, 0.857881) 30.77%, #2A2356 84.62%);
  /* mix-blend-mode: hard-light; */
}

button {
  background: linear-gradient(180deg, rgba(57, 120, 252, 0.63) 0%, rgba(48, 68, 150, 0.857881) 30.77%, #2A2356 84.62%);
  backdrop-filter: blur(18.0401px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 0px 1rem;
  color: white;
  text-transform: uppercase;
  padding: 1rem;
  font-weight: 600;
  border: 1px solid rgba(207, 152, 253, 0.562) 

}

progress {
  border: solid #6ECBF5 2px;
  width: 50%;
  height: 1.75rem;
  border-radius: 0 2rem 2rem 0;
  background: none;
}

progress[value]::-webkit-progress-bar {
  background: #6ecaf58c;
  mix-blend-mode: overlay;
}

progress[value]::-webkit-progress-value {
  background-color: #6ecaf58c;
  mix-blend-mode: overlay;
}

progress[value]::-moz-progress-bar {
  background: #6ecaf58c;
  border-radius: 0 50px 50px 0;
  mix-blend-mode: lighten;
}

.scanlines {
  background: repeating-linear-gradient(transparent, transparent 2px, black 3px, black 3px);
  background-blend-mode: overlay;
  background-size: auto 100%;
  background-position: center center;
  opacity: 1;
  position: relative
}

.scanlines:before {
    display: block;
    pointer-events: none;
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    z-index: 2147483649;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0.75;
    /* animation: scanline 6s linear infinite; */
}

@keyframes scanline {
    0% {
        transform: translate3d(0, 200000%, 0);
    }
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}


#overlay {
  position: fixed; /* Sit on top of the page content */
  /* display: none; Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(5, 7, 15, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.expanded-card {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 100;
  width: 20rem;
  animation: cardOpen 0.5s ease-in;
}

@keyframes cardOpen {
  0% {
    width: 2px;
    height: 2px;
    transform-origin: 50%;
    transform: translate(-50%,-50%);
  } 
  50% {
    width: 2px;
    height: 80vh;
    transform-origin: 50%;
    transform: translate(-50%,-50%);
  } 
  100% {
    width: 20rem;
    height: 80vh;
    transform-origin: 50%;
    transform: translate(-50%,-50%);
  }
}