.App {
  /* background-color: #231D4A; */

  color: white;
}

.level_border {
  border: solid 30px;
  border-image: url(./assets/levels_border.svg) 30;
}
.char_border {
  border: solid 30px;
  border-image: url(./assets/char_border.svg) 30;
}

.border {
  background: 
    linear-gradient(#ccc 0 0) padding-box, /*this is your grey background*/
    linear-gradient(to right, #9c20aa, #fb3570) border-box;
  color: #313149;
  padding: 10px;
  border: 5px solid transparent;
  border-radius: 15px;
  display: inline-block;
  margin: 75px 0;
}

.gradient {
  background: linear-gradient(180deg, rgba(57, 120, 252, 0.63) 0%, rgba(48, 68, 150, 0.857881) 30.77%, #2A2356 84.62%);
}

button {
  background: linear-gradient(180deg, rgba(57, 120, 252, 0.63) 0%, rgba(48, 68, 150, 0.857881) 30.77%, #2A2356 84.62%);
  backdrop-filter: blur(18.0401px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 0px 1rem;
  color: white;
  text-transform: uppercase;
  padding: 1rem;
  font-weight: 600;
  border: 2px solid rgba(207, 152, 253, 0.562) 

}

progress {
  border: solid #6ECBF5 2px;
  width: 50%;
  height: 1.75rem;
  border-radius: 0 2rem 2rem 0;
  background: none;
}

progress[value]::-webkit-progress-bar {
  background: #6ecaf58c;
  mix-blend-mode: overlay;
}

progress[value]::-webkit-progress-value {
  background-color: #6ecaf58c;
  mix-blend-mode: overlay;
}

progress[value]::-moz-progress-bar {
  background: #6ecaf58c;
  border-radius: 0 50px 50px 0;
  mix-blend-mode: lighten;
}

.scanlines {
  background: repeating-linear-gradient(transparent, transparent 2px, black 3px, black 3px);
  background-blend-mode: overlay;
  background-size: auto 100%;
  background-position: center center;
  opacity: 1;
  position: relative
}

.scanlines:before {
    display: block;
    pointer-events: none;
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    z-index: 2147483649;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0.75;
    /* animation: scanline 6s linear infinite; */
}

@keyframes scanline {
    0% {
        transform: translate3d(0, 200000%, 0);
    }
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}