@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Trispace:wght@100..800&display=swap');


body {
  margin: 0;
  font-family: "Space Grotesk", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(180deg,#000000d9, #2a2356d9, #15122bd9, #111111), url(./assets/background.gif);
  background-attachment: fixed;
  background-repeat:repeat;
  background-position: center;
}

.trispace {
  font-family: "Trispace", sans-serif;
}

h1, h2 {
  font-family: "Trispace", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
